.grid-container {
	border: 2px dashed green;
	width: 100%;
	min-height: 400px;
	display: grid;
	gap: 5px;
	/* grid-template-columns: a b c d.... */
	/* grid-template-columns: 100px 25% 1fr 20vw */
	/* grid-template-columns: 100px 1fr 10% 1fr; */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	/* grid-template-rows: 1fr 1fr 1fr 1fr; */

	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.item {
	border: 2px dotted red;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Column spanning */
.grid-container > .item:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 4;

	/* Shorthand */
	/* grid-column: 2 / 4; */
}

/* row spanning */
.grid-container > .item:nth-child(8) {
	grid-row-start: 3;
	grid-row-end: 5;

	/* Shorthand */
	/* grid-row: 3 / 5; */
}
