form {
	padding: 0 5%;
	margin-top: 10px;
}

.form-container {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.left-column,
.right-column {
	flex: 1;
}

label::after {
	content: ': ';
}

input[type='radio'] + label::after {
	content: '';
}

.row {
	display: flex;
	margin-bottom: 5px;
}

.row > div {
	flex: 1;
}

.row > div > *:not(input[type='radio'], label, button) {
	width: 100%;
}

.center-button {
	text-align: center;
}
